/*Custom CSS
  _______   ________   _________   ______
/_______/\ /_______/\ /________/\ /_____/\
\    _  \ \\__    _\/ \__    __\/ \    _\/_
 \  (_)  \/_\   \  \ \    \  \ \   \ \/___/\
  \    _  \ \\  _\  \ \__  \  \ \   \_   _\ \
   \  (_)  \ \\/__\  \__/\  \  \ \    /____\ \
    \_______\/ \________\/   \__\/    \_____\/
    2017
*/

#formBox {
  /*border: solid 1px;*/
  width: 50%;
  margin-left: 25%;
  margin-top: 5%;
}

#jumboBox {
  padding: 5%;
}

#datoStempling {
  margin-left: 45%;
}

#formField {
  padding: 3%;
}

#formKnapp {
  margin-top: 5%;
}
